<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vault Access from Cloud</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--<ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="top-header">
    <div class="col-md-6 logo col-xs-10">Four - O - Four</div>
    <a href="#"><span class="glyphicon glyphicon-th-list col-xs-2 visible-xs mobile-menu"></span></a>
    <div class="col-md-6 profile-menu hidden-xs">
      <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Muthukumar Kulandaisamy <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Profile Settings</a></li>
        <li><a href="#">Administartor Mode</a></li>
        <li><a href="#">Theme Settings</a></li>
        <li class="divider"></li>
        <li><a href="#">Log Out</a></li>
      </ul>
     </div>
    </div>
  </div>
  <div class="main-content">
    <div class="col-md-2 left-menu hidden-xs">
      <ul>
        <li>Project Explorer</li>
        <li>Item Master</li>
        <li>Search Items</li>
      </ul>
      <div class="hackathon-logo">
        <img src="images/hackathon.png"/>
      </div>
    </div>
    <div class="col-md-10">
      <div ng-controller="PeopleCtrl">
          <div class="spinner" ng-show="loading"></div>
          <ol class="breadcrumb" ng-hide="loading">
            <li><a ng-click="loadRootFolder();">Root</a></li>
            <li ng-repeat="breadcrump in breadcrumps"><a ng-click="refreshBreadcrump($index)">{{breadcrump.name}}</a></li>
          </ol>
            <table class="table table-striped hidden-xs" ng-hide="loading">
              <tr>
                <th></th>
                <th>Name</th>
                <th>Create Date</th>
                <th>Created By</th>
              </tr>
              <tr ng-repeat="data in rootfolder">
                  <td class="text-center" style="width:10px;">
                    <span ng-show="data.Type=='1'" class="text-warning glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <span ng-show="data.Type=='0'" class="text-danger glyphicon glyphicon-picture" aria-hidden="true"></span>
                  </td>
                  <td>
                    <a ng-show="data.Type=='1'" ng-click="loadFolderDetail(data.MasterId,data.Name)">{{data.Name}}</a>
                    <a ng-show="data.Type=='0'" ng-click="">{{data.Name}}</a>
                  </td>
                  <td>{{data.CreateDate | date:'medium'}}</td>
                  <td>{{data.CreatedBy}}</td>
              </tr>
            </table>
            <div ng-hide="loading" class="panel panel-default visible-xs" ng-repeat="data in rootfolder">
              <div class="panel-heading">
                <span ng-show="data.Type=='1'" class="text-warning glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span ng-show="data.Type=='0'" class="text-danger glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;
                <a ng-show="data.Type=='1'" ng-click="loadFolderDetail(data.MasterId,data.Name)">{{data.Name}}</a>
                <a ng-show="data.Type=='0'" ng-click="">{{data.Name}}</a>
              </div>
              <div class="panel-body">
                <div>{{data.CreateDate | date:'medium'}}</div>
                <small>{{data.CreatedBy}}</small>
              </div>
              
            </div>
      </div>
    </div>
  </div>
  

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
