<div ng-controller="PeopleCtrl">
      <p>    Click <a ng-click="loadPeople()">here</a> to load data.</p>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
      </tr>
      <tr ng-repeat="person in people">
      	  <td class="text-center">
      	  	<span ng-show="person.type=='folder'" class="text-warning glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      	  	<span ng-show="person.type=='file'" class="text-danger glyphicon glyphicon-picture" aria-hidden="true"></span>
      	  </td>
          <td><a ng-click="loadPeopleDetail()">{{person.id}}</a></td>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
      </tr>
      </table>
</div>
