<div ng-controller="PeopleCtrl">
      <p>    Click <a ng-click="loadRootFolder()">here</a> to load data.</p>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Type</th>
      </tr>
      <tr ng-repeat="data in rootfolder">
      	  <td class="text-center">
      	  	<span ng-show="data.Type=='Folder'" class="text-warning glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      	  	<span ng-show="data.Type=='file'" class="text-danger glyphicon glyphicon-picture" aria-hidden="true"></span>
      	  </td>
          <td><a ng-click="loadPeopleDetail()">{{data.Name}}</a></td>
          <td>{{data.Type}}</td>
      </tr>
      </table>
</div>
